@media (max-width:768px){
    .row-col{
        
        justify-content: space-around;
    }
    .row1 a img{
        width: 80%;
        height: 80%;
        padding-left: 15px;
    }
    .row1 ul{
        gap: 23px;
    }
    .row2{
        height: 480px;
    }
    .col{
        padding-right: 20px;
    }
    .row3{
        width: 90%;
        justify-content: center;
        padding-left: 45px;
    }
    .row4-col{
        width: 65%;
    }
    .row4-col h2{
        font-size: 1.5rem;
    }
    .row4-col h2 span{
        font-size: 1.2rem;
    }
    .row4-col p{
        font-size: 0.8rem;
    }
    .row6-col{
        width: 220px;
    }
    
    .web2, .web3, .web4, .web5, .web6, .web7{
        width: 220px;
    }
    .row6{
        width: 768px;
        gap: 30px;
    }
    .row7-col{
        width: 93%;
        padding-left: 30px;
    }
    .row8{
        width: 71%;
        justify-content: space-between;
        gap: 10px;
        padding-left: 100px;
    }
    .row9-col{
        width: 88%;
        justify-content: space-around;
        height: auto;
        padding: 15px 0px;
        gap: 15px;
    }
    .foot{
        gap: 30px;
        justify-content: center;
    }
}
@media (max-width:640px){
    .row-col1{
        gap: 25px;
    }
    .row1 a img{
        width: 75%;
    }
    .row1{
        justify-content: center;
    }
    .row1 ul{
        width: 100%;
        gap:8px;
        justify-content: space-around;
    }
    .row1 ul li a{
        font-size: 0.7rem;
    }
    .row2-col{
        padding: 0px;
        align-items: center;
    }
    .col{
        padding: 10px;
    }
    .row4-col{
        width: 65%;
        padding-right: 15px;
    }
    .row4-col h2{
        font-size: 1.2rem;
    }
    .row4-col h2 span{
        font-size: 1.1rem;
    }
    .row6{
        width: 95%;
        padding: 0px 15px;
    }
    .row6-col1 ul li a{
        font-size: 0.7rem;
    }
    .row9-col{
        gap: 10px;
    }
    .row9-col1 p{
        font-size: 0.7rem;
    }
}
@media (max-width:480px){
    .row-col1{
        gap: 15px;
    }
    .row-col h2{
        font-size: 0.6rem;
    }
    .row-col p{
        font-size: 0.5rem;
    }
    .row-col ul{
        gap: 5px;
    }
    .row-col ul li a{
        padding: 0px;
    }
    .row1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .row1 ul{
        /* padding: 12px 12px; */
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .row1 ul li a{
        font-size: 0.8rem;
    }
    .row1 a img{
        width: 70%;
    }
    .row4{
        flex-wrap: wrap;
        justify-content: center;
    }
    .row4-col h2{  
        font-size: 1.8rem;
        text-align: center;
    }
    .row4-col h2 span{
        font-size: 1.5rem;
    }
    .row6-col1 ul{
        margin:0px;
        flex-wrap: wrap;
        gap: 3px;
        padding: 0px 4px;

    }
    .row6-col1 ul li{
        padding: 0px;
        border-right: none;
    }
    .row6-col1 ul li a{
        font-size: 0.7rem;
    }
    .row9-col{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .row9-col1{
        align-items: center;
    }

}
@media (max-width:380px){
    .row-col{
        flex-wrap: wrap;
        gap: 8px;
    }
    .row-col1{
        gap: 10px;
    }
    .row1 ul{
        justify-content: space-around;
        gap: 10px;
    }
    .row1 ul li a{
        font-size: 0.7rem;
    }
    .col{
        padding: 5px;
    }
    .row2-col{
        width: 350px;
        height:342px;
        margin: 0px 5px;
    }
    .row2-col h2{
        font-size: 1.9rem;
    }
    .row2-col p{
        width: 325px;
        text-align: justify;
    }
    .row4{
        flex-wrap: wrap;
        justify-content: center;
    }
    .row4-col h2{
        font-size: 1.5rem;
    }
    .row4-col h2 span{
        font-size: 1.2rem;
    }
    .row5 h2{
        font-size: 2.1rem;
    }
    .row6{
        padding: 0px 9px;
    }
    .row6-col1{
        padding: 0px 5px 8px 5px;
    }
    .row6-col1 p{
        padding: 5px 6px 0px 6px;
        height: 100px;
    }
    .row6-col1 ul li{
        border-right: none;
    }
    .row6-col1 ul li a{
        font-size: 0.6rem;
        padding: 0px 4px;
    }
    .row8{
        padding-left: 30px;
    }
}